Repository softboiler/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only, patch-nbs

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    \.copier-answers\.yml
    |changelog/towncrier_template\.md\.jinja
  )$
ci:
  skip:
    - "sync"
    - "fawltydeps-src"
    - "fawltydeps-dev"
    - "fawltydeps-pipeline"
    - "pytest-fast-only"
    - "dvc-post-checkout"
    - "dvc-pre-push"
    - "patch-nbs"
  autoupdate_schedule: "quarterly"
default_install_hook_types:
  - "pre-commit"
  - "post-checkout" # sync, dvc-post-checkout
  - "pre-push" # dvc-pre-push
repos:
  - repo: "meta"
    hooks:
      # ? Enable this to ensure each hook runs against at least one file
      # - id: "check-hooks-apply"
      - id: "check-useless-excludes"
  - repo: "local"
    hooks:
      - id: "sync"
        name: "sync"
        stages:
          - "pre-commit"
          - "post-checkout"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 -Sync -Update"
      - id: "fawltydeps-src"
        name: "fawltydeps-src"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file pyproject.toml"
        files: |
          (?x)^(
            pyproject\.toml
            |src/.*
          )$
      - id: "fawltydeps-dev"
        name: "fawltydeps-dev"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file packages/_dev/pyproject.toml"
        files: |
          (?x)^(
            packages/_dev/.*
            |docs/.*
            |tests/.*
          )$
      - id: "fawltydeps-pipeline"
        name: "fawltydeps-pipeline"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file packages/pipeline/pyproject.toml"
        files: |
          (?x)^(
            packages/pipeline/pyproject\.toml
            |docs/.*
            |tests/.*
          )$
      - id: "pytest-fast-only"
        name: "pytest-fast-only"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 pytest -m 'not slow'"
        files: |
          (?x)^(
            .*/pyproject\.toml
            |docs/.*
            |requirements/.*
            |scripts/.*
            |src/.*
            |tests/.*
          )$
      - id: "patch-nbs"
        name: "patch-nbs"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "./Invoke-Uv.ps1 python -m dev.docs.patch_nbs"
        files: |
          (?x)^(
            docs/.*\.ipynb
          )$
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v5.0.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
  - repo: "https://github.com/iterative/dvc"
    rev: "3.58.0"
    hooks:
      - id: "dvc-post-checkout"
        additional_dependencies: ["dvc[gs]"]
      - id: "dvc-pre-push"
        additional_dependencies: ["dvc[gs]"]
  - repo: "https://github.com/DavidAnson/markdownlint-cli2"
    rev: "v0.17.1"
    hooks:
      - id: "markdownlint-cli2"
  - repo: "https://github.com/srstevenson/nb-clean"
    rev: "4.0.1"
    hooks:
      - id: "nb-clean"
        args:
          - "--remove-empty-cells"
          - "--preserve-notebook-metadata"
          - "--preserve-cell-metadata"
          - "tags"
          - "--"
        files: |
          (?x)^(
            docs/.*
            |src/.*
            |tests/.*
          )$
  - repo: "https://github.com/rbubley/mirrors-prettier"
    rev: "v3.4.2"
    hooks:
      - id: "prettier"
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: "v0.9.3"
    hooks:
      - id: "taplo-format"
  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.8.6"
    hooks:
      - id: "ruff"
        args: ["--extend-fixable", "PIE790"]
        types_or: ["python", "pyi", "jupyter"]
      - id: "ruff-format"
        types_or: ["python", "pyi", "jupyter"]

Fix dependency specifications for recent uv, avoiding nested workspaces
  .pre-commit-config.yaml
  .uv-version
  justfile
  packages/_dev/pyproject.toml
  packages/pipeline/pyproject.toml
  pyproject.toml
  requirements/requirements_dev.txt
  uv.lock
Due: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Update thermal test, remove outdated extension, fix type issue
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  dev.ps1
  docs/data/e230920/thermal.h5
  packages/pipeline/boilercv_pipeline/captivate/previews.py
  packages/pipeline/boilercv_pipeline/parser.py
Due: fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Propagate uv bump to CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Reference pipeline dep as `boilercv-pipeline`, `boilercv_pipeline` elsewhere.
  dev.ps1
  justfile
  packages/pipeline/pyproject.toml
  requirements/binder.in
Due: fawltydeps-pipeline, pytest-fast-only

Fix dev invocation
  justfile
Due: none

Fix docs build
  .vscode/tasks.json
  dev.ps1
  docs/conf.py
  justfile
  packages/_dev/boilercv_dev/__init__.py
  packages/_dev/boilercv_dev/__main__.py
  packages/_dev/boilercv_dev/tools/__init__.py
  packages/_dev/boilercv_dev/tools/environment.py
Due: fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Try this
  dev.ps1
Due: none

Try this
  dev.ps1
  packages/_dev/boilercv_dev/tools/environment.py
Due: fawltydeps-dev

Simplify environment loading
  packages/_dev/boilercv_dev/__main__.py
  packages/_dev/boilercv_dev/tools/environment.py
  packages/pipeline/boilercv_pipeline/parser.py
Due: fawltydeps-dev

Remove unused arguments
  docs/conf.py
  packages/_dev/boilercv_dev/tools/environment.py
Due: fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Implement environment syncing in VSCode settings
  .pre-commit-config.yaml
  .vscode/settings.json
  .vscode/tasks.json
  Invoke-Just.ps1
  Invoke-Uv.ps1
  dev.ps1
  docs/conf.py
  packages/_dev/boilercv_dev/__init__.py
  packages/_dev/boilercv_dev/__main__.py
  packages/_dev/boilercv_dev/tests/__init__.py
  packages/_dev/boilercv_dev/tools/environment.py
  packages/pipeline/boilercv_pipeline/parser.py
  pyproject.toml
  requirements/requirements_dev.txt
  tests/conftest.py
  uv.lock
Due: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Fix platform-dependent issues
  dev.ps1
  packages/pipeline/boilercv_pipeline/models/generated/types/__init__.py
Due: none

Environment variables are now synced in the caller
  docs/conf.py
Due: fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Try not adding .venv to GITHUB_PATH
  dev.ps1
Due: none

Revert GITHUB_PATH implementation
  dev.ps1
Due: none

Fix CI check
  dev.ps1
Due: none

Simplify PowerShell calls
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .vscode/tasks.json
  Invoke-Just.ps1
  Invoke-Uv.ps1
  dev.ps1
  dvc.yaml
  justfile
  packages/_dev/boilercv_dev/tools/environment.py
  packages/pipeline/boilercv_pipeline/sync_dvc/validators.py
  scripts/Initialize-LinuxMacOS.sh
Due: fawltydeps-dev, pytest-fast-only

Don't splat run args
  Invoke-Just.ps1
  Invoke-Uv.ps1
  dev.ps1
Due: none

Be specific about activate script
  dev.ps1
Due: none

Migrate to unactivated environments by default
  .vscode/settings.json
  dev.ps1
  justfile
Due: none

Modify `launch.json` now that microsoft/vscode-python-debugger#335 is fixed
  .vscode/launch.json
  .vscode/settings.json
Due: none

Disable Python environment activation for now
  .vscode/settings.json
Due: none

Update contributor environment
  .vscode/tasks.json
  dev.ps1
  ij.ps1
  iuv.ps1
  justfile
Due: none

Merge template modifications from blakeNaccarato/hello
  justfile
  packages/_dev/boilercv_dev/tools/__init__.py
Due: fawltydeps-dev

Fix schema locations
  .vscode/settings.json
Due: none

Add pre-commit task to fix mixed line endings
  .vscode/tasks.json
Due: none

Manually run mixed line ending pre-commit hook on run
  .gitattributes
  dev.ps1
Due: none

Merge template modifications from notes repo
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  Invoke-Just.ps1
  Invoke-Uv.ps1
  dev.ps1
Due: none

Rename Invoke-* to i*
  dev.ps1
Due: none

Update Binder requirements
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/tasks.json
  dev.ps1
  justfile
  packages/pipeline/boilercv_pipeline/parser.py
  pyproject.toml
  requirements.txt
  requirements/requirements_dev.txt
  uv.lock
Due: fawltydeps-src, pytest-fast-only

Bump Binder pin
  docs/conf.py
Due: fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Bump uv
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .uv-version
Due: none

Try running boilercv-dev directly
  dev.ps1
Due: none

Fix missing uv invocation
  dev.ps1
Due: none
