Repository softboiler/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only, patch-notebooks

fawltydeps-src:
  name: fawltydeps-src
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file pyproject.toml"
  
    '

fawltydeps-dev:
  name: fawltydeps-dev
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file packages/_dev/pyproject.toml"
  
    '

fawltydeps-pipeline:
  name: fawltydeps-pipeline
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "./Invoke-Uv.ps1 fawltydeps --config-file packages/pipeline/pyproject.toml"
  
    '

pytest-fast-only:
  name: pytest-fast-only
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "./Invoke-Uv.ps1 pytest -m ''not slow''"
  
    '

patch-notebooks:
  name: patch-notebooks
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "./Invoke-Just.ps1 patch-notebooks"
  
    '

Don't use docs/tests extras in subpackage, can't express the editable extras in Binder `requirements.txt`
  packages/_dev/pyproject.toml
  pyproject.toml
  requirements.txt
  uv.lock
Due: fawltydeps-src, fawltydeps-dev, pytest-fast-only

Bump Binder pin
  docs/conf.py
Due: fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Add slashes back after PWD
  dev.ps1
Due: none

Migrate ruff config, suppress new type warnings, modify warnings filters, make warnings errors in tests
  .vscode/settings.json
  dev.ps1
  docs/notebooks/find_objects.ipynb
  docs/notebooks/find_tracks.ipynb
  docs/notebooks/get_thermal_data.ipynb
  packages/_dev/boilercv_dev/tools/warnings.py
  pyproject.toml
  requirements.txt
  tests/conftest.py
Due: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only, patch-notebooks

Fix additional author mentions
  .github/CODE_OF_CONDUCT.md
  .github/SECURITY.md
  docs/notebooks/get_thermal_data.ipynb
Due: fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only, patch-notebooks

Path conditions:
  fawltydeps-src: any of: (?x)^(
  pyproject\.toml
  |src/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

  fawltydeps-dev: any of: (?x)^(
  packages/_dev/.*
  |docs/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

  fawltydeps-pipeline: any of: (?x)^(
  packages/pipeline/pyproject\.toml
  |docs/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

  pytest-fast-only: any of: (?x)^(
  .*/pyproject\.toml
  |docs/.*
  |requirements/.*
  |scripts/.*
  |src/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

  patch-notebooks: any of: (?x)^(
  docs/.*\.ipynb
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

